*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    list-style: none;
    text-decoration: none;
    vertical-align: baseline;
}
:root{
    --purple:#800f79;
    --white:#FFF;
    --dark:#1e1c2a;
}
body {

    background-image: url(../IMG/Back-et.jpeg) ;
    margin: auto;
    background-position: center left ;
    
}
.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    background-color:var(--white);
    padding: 26px;
    border-radius: 15px;
    width: 25rem;
    margin: auto;
    
}
fieldset{
    border: 3px solid var(--purple);
    border-radius: 10px;
    margin: auto;
    
    
}
.legend{
    border: 1px solid var(--purple);
    padding: 8px;
    text-align: center;
    background-color: var(--purple);
    border-radius: 8px;
    color: var(--dark);
    font-size: 20px;
}
.inputBox{
    position: relative;
    align-items: center;
    justify-content: center;
    margin: auto;
    
    
}
.inputUser{
    background: var(--white);
    border: none ;
    border-bottom: 1px solid var(--dark);
    outline: none;
    color: var(--dark);
    font-size: 15px;
    width: 15rem;
    letter-spacing: 2px;
    justify-content: center;
    margin-left: 3rem;
    
    
}
.labelInput{
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .2s;
    margin-left: 3rem;
}
.inputUser:focus ~ .labelInput,
.inputUser:valid ~ .labelInput {
    top: -20px;
    font-size: 15px;
    color: var(--purple);
}

.limpar,
.enviar,
.voltar{
    background-color: var(--purple);
    color: var(--white);
    align-items: center;
    width:  15rem;
    padding: 9px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    margin-left: 3rem;
    margin-top: 2px;
    justify-content: center;
    display: flex;
 }
.limpar:hover,
.enviar:hover,
.save:hover{
    background-color: var(--purple);
    color: var(--dark);
 }
 .save{
    background-color: var(--purple);
    color: var(--white);
    align-items: center;
    width:  15rem;
    padding: 9px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    margin-left: 3rem;
    margin-top: 2px;
    justify-content: center;
    display: flex;
 }
header{
    text-align: center;
    margin-top: 40px;
    height: 2rem;
   
}
p{
    margin-left: 3rem;
}
.inputradio{
    margin-left: 3rem;
}
#idData{
    color: transparent;
}
#iddData:valid, #idData:focus{
    color: var(--dark);
}

@media screen  and (max-width: 300px) {

    .box{
        width: 60%;
    }
    fieldset{
        width: 50%;
       
    
    }

    .limpar,
    .enviar{
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
    .labelInput{
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
    .inputUser{
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
    .inputradio{
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
    p{
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
}